* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
    line-height: 1.6;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll*/
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: s;
}

#logo {
    justify-content: center;
    
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

section#home {
    background: url('https://source.unsplash.com/m2De0QR_tWo/1600x900') no-repeat center center/cover;
;
}
  
section#promo {
    background: url('https://source.unsplash.com/UiiHVEyxtyA/1600x900') no-repeat center center/cover;;
}
  
section#about {
    background: url('https://source.unsplash.com/_JBKdviweXI/1600x900') no-repeat center center/cover;;
}
  
section#pashmina {
    background: url('https://source.unsplash.com/Xjg8t1KO26o/1600x900') no-repeat center center/cover;;
    color: white;
}


